#roller-custom.properties
mediafiles.storage.dir={{ msd }}
search.index.dir={{ sid }}
log4j.appender.roller.File={{ log4 }}
database.configurationType={{ db_type }}
database.jdbc.driverClass={{ db_driver_class }}
database.jdbc.connectionURL={{ db_url }}
database.jdbc.username={{ db_user_name }}
database.jdbc.password={{ db_password }}
mail.configurationType={{ mail_config_type }}
mail.hostname={{ smtp }}
mail.username={{ mail_addr }}
mail.password={{ mail_password }}
